<div class="panel panel-info">
	<div class="panel-heading">
		Attention: This is a demo. Feel free to click around on each of the bond characteristics below. To learn more about the MuniSearch project, click <%= link_to "here", about_path =%>
	</div>
</div>

<!-- ISSUER NAME -->
<div class="jumbotron center">
	<h1>New Issues<small></h1>
	<p>Real-time new issue pricing</p>
</div> <!-- JUMBOTRON -->

<!-- Nav Tab Structure -->
<ul class="nav nav-tabs" role="tablist">
	<li class="active"><a href="#home" role="tab" data-toggle="tab">Current Pricings</a></li>
	<li><a href="#recent" role="tab" data-toggle="tab">Recent Deals</a></li>
	<li><a href="#upcoming" role="tab" data-toggle="tab">Upcoming Deals</a></li>
</ul>


<!-- TAB CONTENTS -->
<div class="tab-content">

	<!-- CURRENT PRICINGS TAB -->
	<div class="tab-pane active" id="home">
		</br>
		<ul>
			<li><%= link_to "New York City G.O. Sub Series F-1", issue_path %></li>
			<li><%= link_to "New York City G.O. Sub Series F-1", issue_path %></li>
			<li><%= link_to "New York City G.O. Sub Series F-1", issue_path %></li>
			<li><%= link_to "New York City G.O. Sub Series F-1", issue_path %></li>
			<li><%= link_to "New York City G.O. Sub Series F-1", issue_path %></li>
		</ul>
	</div>

	<!-- RECENT DEALS TAB -->
	<div class="tab-pane" id="recent">
		</br>
		<ul>
			<li><%= link_to "New York State G.O. Series AA", issue_path %></li>
			<li><%= link_to "New York State G.O. Series AA", issue_path %></li>
			<li><%= link_to "New York State G.O. Series AA", issue_path %></li>
			<li><%= link_to "New York State G.O. Series AA", issue_path %></li>
			<li><%= link_to "New York State G.O. Series AA", issue_path %></li>
		</ul>
	</div>

	<!-- UPCOMING PRICINGS TAB -->
	<div class="tab-pane" id="upcoming">
		</br>
		<ul>
			<li><%= link_to "Massachusets Housing Finance Authority Ser C", issue_path %></li>
			<li><%= link_to "Massachusets Housing Finance Authority Ser C", issue_path %></li>
			<li><%= link_to "Massachusets Housing Finance Authority Ser C", issue_path %></li>
			<li><%= link_to "Massachusets Housing Finance Authority Ser C", issue_path %></li>
			<li><%= link_to "Massachusets Housing Finance Authority Ser C", issue_path %></li>
		</ul>
	</div>

</div>