<div class="panel panel-info">
	<div class="panel-heading">
		Attention: This is a demo. Feel free to click around below. To learn more about the MuniSearch project, click <%= link_to "here", about_path =%>
	</div>
</div>

<!-- ISSUER NAME -->
<div class="jumbotron center">
	<h1>New Issues<small></h1>
	<p>Real-time new issue pricing</p>
	<% if user_signed_in? %>
	<!-- nothing -->
	<% else %>
		<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
		<%= link_to "Log In", new_user_session_path, class: "btn btn-primary" %>
	<% end %>
</div> <!-- JUMBOTRON -->

<!-- Nav Tab Structure -->
<ul class="nav nav-tabs" role="tablist">
	<li class="active"><a href="#home" role="tab" data-toggle="tab">Current Pricings</a></li>
	<li><a href="#recent" role="tab" data-toggle="tab">Recent Deals</a></li>
	<li><a href="#upcoming" role="tab" data-toggle="tab">Upcoming Deals</a></li>
</ul>


<!-- TAB CONTENTS -->
<div class="tab-content">

	<!-- CURRENT PRICINGS TAB -->
	<div class="tab-pane active" id="home">
		</br>
		<div class="well well-sm">
			<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
			<%= link_to "New York City G.O. Sub Series F-1", issue_path %>
			<div class= "glyph-right">
				<span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
			</div>
		</div>
		<div class="well well-sm">
			<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
			<%= link_to "New York City G.O. Sub Series F-1", issue_path %>
			<div class= "glyph-right">
				<span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
			</div>
		</div>
		<div class="well well-sm">
			<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
			<%= link_to "New York City G.O. Sub Series F-1", issue_path %>
			<div class= "glyph-right">
				<span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
			</div>
		</div>
		<div class="well well-sm">
			<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
			<%= link_to "New York City G.O. Sub Series F-1", issue_path %>
			<div class= "glyph-right">
				<span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
			</div>
		</div>
		<div class="well well-sm">
			<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
			<%= link_to "New York City G.O. Sub Series F-1", issue_path %>
			<div class= "glyph-right">
				<span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
			</div>
		</div>
		<div class="well well-sm">
			<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
			<%= link_to "New York City G.O. Sub Series F-1", issue_path %>
			<div class= "glyph-right">
				<span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
			</div>
		</div>
	</div>

	<!-- RECENT DEALS TAB -->
	<div class="tab-pane" id="recent">
				</br>
		<div class="well well-sm">
			<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
			<%= link_to "New York State General Obligation 2013-B", issue_path %>
			<div class= "glyph-right">
				<span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
			</div>
		</div>
		<div class="well well-sm">
			<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
			<%= link_to "New York State General Obligation 2013-B", issue_path %>
			<div class= "glyph-right">
				<span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
			</div>
		</div>
		<div class="well well-sm">
			<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
			<%= link_to "New York State General Obligation 2013-B", issue_path %>
			<div class= "glyph-right">
				<span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
			</div>
		</div>
		<div class="well well-sm">
			<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
			<%= link_to "New York State General Obligation 2013-B", issue_path %>
			<div class= "glyph-right">
				<span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
			</div>
		</div>
		<div class="well well-sm">
			<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
			<%= link_to "New York State General Obligation 2013-B", issue_path %>
			<div class= "glyph-right">
				<span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
			</div>
		</div>
		<div class="well well-sm">
			<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
			<%= link_to "New York State General Obligation 2013-B", issue_path %>
			<div class= "glyph-right">
				<span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
			</div>
		</div>
	</div>

	<!-- UPCOMING PRICINGS TAB -->
	<div class="tab-pane" id="upcoming">
				</br>
		<div class="well well-sm">
			<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
			<%= link_to "New York City Housing Development Corp (Multi Family Affordable Housing)", issue_path %>
			<div class= "glyph-right">
				<span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
			</div>
		</div>
		<div class="well well-sm">
			<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
			<%= link_to "New York City Housing Development Corp (Multi Family Affordable Housing)", issue_path %>
			<div class= "glyph-right">
				<span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
			</div>
		</div>
		<div class="well well-sm">
			<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
			<%= link_to "New York City Housing Development Corp (Multi Family Affordable Housing)", issue_path %>
			<div class= "glyph-right">
				<span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
			</div>
		</div>
		<div class="well well-sm">
			<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
			<%= link_to "New York City Housing Development Corp (Multi Family Affordable Housing)", issue_path %>
			<div class= "glyph-right">
				<span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
			</div>
		</div>
		<div class="well well-sm">
			<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
			<%= link_to "New York City Housing Development Corp (Multi Family Affordable Housing)", issue_path %>
			<div class= "glyph-right">
				<span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
			</div>
		</div>
		<div class="well well-sm">
			<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
			<%= link_to "New York City Housing Development Corp (Multi Family Affordable Housing)", issue_path %>
			<div class= "glyph-right">
				<span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
			</div>
		</div>
	</div>

</div>